@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}
.react-calendar {
  width: 100%;
  border: none;
  background: transparent;
  font-family: inherit;
}

/* HEADER (dias da semana) */
.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #71717a; /* zinc-500 */
  margin-bottom: 6px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 3px 0;
} 

/* DIA */
.react-calendar__tile {
  position: relative;
  height: 50px;
  padding: 2px;
  border-radius: 15px;
  transition: all 0.2s ease;
  background: transparent;
}

/* HOVER */
.react-calendar__tile:hover {
  background: #27272a; /* zinc-800 */
}

/* DIA ATIVO */
.react-calendar__tile--active {
  background: #3b82f6 !important;
  color: white !important;
}

/* HOJE */
.react-calendar__tile--now {
  background: #18181b; /* zinc-900 */
  border: 1px solid #3f3f46; /* zinc-700 */
}

/* FINS DE SEMANA */
.react-calendar__month-view__days__day--weekend {
  color: #323232;  /* zinc-400 */
}

/* DIAS FORA DO MÊS */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #52525b; /* zinc-600 */
}

/* REMOVE BOTÕES DEFAULT */
.react-calendar__navigation {
  display: none;
}

/* REMOVE OUTLINES FEIOS */
.react-calendar button {
  border: none;
  outline: none;
}

/* CENTRALIZA NÚMERO DO DIA */
.react-calendar__tile abbr {
  top: 3px;
  right: 8px;
  font-size: 0.75rem;
}

/* SUAVIZA CLIQUE */
.react-calendar__tile:enabled:active {
  transform: scale(0.97);
}